#post{line-height: 2;background-color: #fff;padding: 10px;border-radius: 5px;width: 100%}
#post h1{background-color:#f6f6f6;padding:1px 10px;font-size:20px;border-left:3px solid #ff70552b;line-height:1.5;border-radius:3px}
#post img{width:80%;display:block;margin:auto}